<html>
  <head>
    <title></title>
    <meta content="">
        <h1>{{ event }}</h1>
        id#: {{ event.id }} <p>
        info: {{ event.eventinfo }} <p>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <!-- dette kræver at alle felter udfyldes-->
    <form method="post" action="{% url 'polls:eventdetail' event.id %}">

        {% csrf_token %}
        vælg navn:<br>
        <input type="text" name="valgnavn"><br>
        <input type="submit" value="Change"  />
    </form>         

    <form method="post" action="{% url 'polls:eventdetail' event.id %}">    
        {% csrf_token %}
        vælg info:<br>
        <input type="text" name="valginfo"><br>

        <input type="submit" value="Change"  />
    </form> 
    
    <form action="{% url 'polls:eventdelete' event.id %}">
        <p> Slet begivenhed her:</br>
        <input type="submit" value="Slet begivenhed"  />
        </p>  
    </form> 
    
    
    <form action="../">
    Naviger tilbage på siden her:</br>    
        <input type="submit" value="Tilbage til begivenheder"  />
    </form> 
    
    <form action="../../">
        
        <input type="submit" value="Tilbage til oversigt"  />
    </form> 
    
    <style></style>
  </head>
  <body></body>
</html>
