<title>Caféen - Varehåndtering for {{ware}}</title>

<h1>{{ ware }}</h1>
ID #{{ ware.id }} <p>
Antal i bar: {{ ware.inbar }} <p>
Antal på lager: {{ ware.instockroom }} <p>
Standardpris: {{ ware.standardprice}}kr. <p>

Varegruppe valgt: <a href="/polls/varegruppe/{{ waregroup.id }}/"> {{waregroup}}</a>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}







<form method="post" action="{% url 'polls:detail' ware.id %}">

  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Gem"  />
  
</form> 

<form action="{% url 'polls:waredelete' ware.id %}">
  <p>
  <input type="submit" value="Slet vare"  />
  </p>  
</form> 


<form action="../">
  <input type="submit" value="Tilbage"  />
</form> 
