<html>
  <head>
    <title>Skift pris for varegrupper for en begivenhed</title>
    <meta content="">
   
    <form action="../../">
        <input type="submit" value="Tilbage"  />
    </form> 

    <h1>Priser for varegrupper</h1>

    <h2> {{event}} </h2>

    <h4> Vigtigt! Tryk på "Gem" for hver ændring </h4>
    <small> Hvis man udfylder flere felter samtidigt vil kun den aktuelle ændres</small></p>

    {% if message %}
        Beskeder fra systemet:</p> 
        {% for element in message%}
            {{forloop.counter}}: {{element}}</p>
        {%endfor%}
    {% else %}    
       
    {% endif %}
    
    
    {% if inputlist %}

            <i>(negative værdier accepteres også)</i>
            {% for element in inputlist %}
        <form method="post"">
            {% csrf_token %}
           <h4> {{element.1}} </h4>
                skal være {{element.0}} kr. dyrere
                <input type="submit" name="{{element.2}}" value="Gem"/></p>
                </form>
            {% endfor %}
         
    {% else %}
        Man må ikke ændre priser, når baren er åben!</p>
    {% endif %}


    <form action="../../">
            <input type="submit" value="Tilbage"  />
    </form> 


    <style></style>
  </head>
  <body></body>
</html>
