<form action="../../">
        <input type="submit" value="Tilbage til oversigt"  />
</form> 

<h2> {{event}} </h2>

    {% if groupedelements %}
    {% for element in groupedelements %}
        <b>{{element.0}}</b> </br>
        ID #{{element.1}}
        Antal i baren: {{element.2}}
        Antal på lager: {{element.3}}
        Normalpris: {{element.4}}kr.</br>
        Ny pris: <b>{{element.5}}kr.</b></p></p>
        
    {% endfor %}
{% endif %}


<form action="../../">
        <input type="submit" value="Tilbage til Oversigt"  />
</form> 
