<html>
    <h2>Opret ny vare</h2>

{% if error %}

<b> Du skal huske at indtaste et navn </b>

{% endif %}

<form method="post">
{% csrf_token %}

  Nyt navn:<br>
  <input type="text" name="valgnavn"><br>
  Skal åbne varer registreres (f.eks. sprutflasker)?</br>
  <input type="checkbox" name="ja" value="ja"> Ja<br>
  (dette betyder, at der oprettes en ekstra vare til at håndtere de åbne flasker)</p>
  <input type="submit" value="Opret"  /><br>
</form>  



<form action="../">
  <input type="submit" value="Tilbage til Oversigt"  />
</form>
</html>
