<title> Begivenhedspriser</title>

<form action="../../">
        <input type="submit" value="Tilbage til Oversigt"  />
</form> 

<h1>Begivenhedspriser</h1>

<h2> {{event}} </h2>

<h4> Vigtigt! Tryk på "Gem" for hver ændring for at undgå datatab</h4>

{% if inputlist %}
    {% for element in inputlist %}
        {{element.1}}: 
        {{element.0}} skal nu koste kr.:
        <form method="post"">
            {% csrf_token %}
            
            <input type="number" name="{{element.1}}">
            
            <input type="submit" value="Gem"  />
        </form> 
        
    {% endfor %}
{% else %}
    Man må ikke ændre priser for en åben bar</p>
{% endif %}


<form action="../../">
        <input type="submit" value="Tilbage til Oversigt"  />
</form> 
