<title>Caféen? - Varegruppehåndtering for {{waregroup}} </title>

<h1>Detaljer for "{{ waregroup }}"</h1>

{% if varer %}
        Varer i gruppen:
        <ul>
        {% for vare in varer %}
            <li>
                <a href="/polls/{{ vare.ware.id }}/">
                        {{ vare.ware.warename }}
                </a>
            </li>
        {% endfor %}
        </ul>
    
    {% else %}
        <p> Der er ingen varer i denne varegruppe </p>
{% endif %}


Oplysninger: {{waregroup.wginfo}}</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form method="post" action="{% url 'polls:wgdetail' waregroup.id %}">

  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Gem"  />
  
</form> 


<form action="{% url 'polls:wgpris' waregroup.id %}">
  Skift pris for alle varer i varegruppen<br>
  <input type="submit" value="Skift standardpris"  />
</form> 


<form action="{% url 'polls:waregroupdelete' waregroup.id %}">
  <p>Slet varegruppen her:</br>
  <input type="submit" value="Slet varegruppe"  />
  </p>  
</form> 

<form action="../../">
  <input type="submit" value="Tilbage til Oversigt"  />
</form> 
