<html>
  <head>
    <title></title>
    <meta content="">
    <form action="../../">
        <input type="submit" value="Tilbage til Oversigt"  />
    </form> 

    {% if allthings %}

        {% for stocking in allthings %}
            {{ stocking.pub_date }}  
            blev der {{ stocking }} </p>
        {% endfor %}
    
    {% else %}
        <p>No history of restocking yet</p>
    {% endif %}

    <form action="../../">
        <input type="submit" value="Tilbage til Oversigt"  />
    </form> 
  
</html>
    
    <style></style>
  </head>
  <body></body>
</html>
